.cartWrapper {
	position: relative;

	.badge {
		position: absolute;
		left: -12px;
		bottom: -12px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--bg-secondary);
		color: var(--text-secondary);
		width: 24px;
		height: 24px;
		font-size: 1.2rem;
		border-radius: 50%;
	}
}
