.heroWrapper {
	margin-top: 126px;
	padding-block: 120px 80px;
	width: 100%;
	text-align: center;
	color: var(--text-secondary);
	background-image: url('/hero/hero_bg.webp');
	background-position: 0 0;

	background-repeat: no-repeat;
	border-radius: 30px;
	.heading {
		font-family: var(--font-desira-demo);
		font-size: 15.5rem;
		font-style: normal;
		line-height: normal;
	}

	.title {
		margin-top: 14px;
		font-size: 3.8rem;
		font-style: normal;
		line-height: normal;
		letter-spacing: 0.76px;
	}

	.speech {
		margin-top: 153px;
		font-size: 3rem;
		font-style: normal;
		line-height: normal;
		letter-spacing: 0.6px;
	}

	.button {
		margin-top: 80px;
	}

	@media (max-width: 1000px) {
		.heading {
			font-size: 10.5rem;
		}
		.title {
			margin-top: 10px;
			font-size: 3rem;
		}

		.speech {
			margin-top: 100px;
			font-size: 2.5rem;
		}
		.button {
			margin-top: 60px;
		}
	}

	@media (max-width: 600px) {
		margin-top: 62px;
		padding: 100px 11px 60px;
		background-image: url('/hero/hero_bg_mobile.webp');
		background-size: cover;

		.heading {
			font-size: 5.2rem;
		}

		.title {
			margin-top: 15px;
			font-size: 1.8rem;
		}

		.speech {
			margin-top: 179px;
			font-size: 1.4rem;
		}
		.button {
			margin-top: 30px;
		}
	}
}
