.button {
	font-size: 3rem;
	padding: 3.2rem 13.8rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	transition: all 0.15s ease-in-out;

	@media (max-width: 1100px) {
		font-size: 2.5rem;
		padding: 2.5rem 10rem;
	}

	@media (max-width: 600px) {
		font-size: 1.4rem;
		padding: 1.2rem 5.1rem;
	}
}

.primary {
	color: var(--text-secondary);
	background-color: var(--bg-secondary);
	border: 2px solid transparent;
	&:hover {
		color: var(--text-primary);
		background-color: var(--bg-primary);
		border: 2px solid var(--text-primary);
	}
}

.secondary {
	color: var(--text-primary);
	background-color: var(--bg-primary);
	border: 2px solid var(--text-primary);
	&:hover {
		color: var(--text-secondary);
		background-color: var(--bg-secondary);
		border: 2px solid transparent;
	}
}
