.button {
	font-size: 3rem;
	padding: 3.2rem 13.8rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	transition: all 0.15s ease-in-out;
}

.primary {
	color: var(--text-secondary);
	background-color: var(--bg-secondary);
	border: 2px solid transparent;
	&:hover {
		color: var(--text-primary);
		background-color: var(--bg-primary);
		border: 2px solid var(--text-primary);
	}
}

.secondary {
	color: var(--text-primary);
	background-color: var(--bg-primary);
	border: 2px solid var(--text-primary);
	&:hover {
		color: var(--text-secondary);
		background-color: var(--bg-secondary);
		border: 2px solid transparent;
	}
}
