.logo {
	color: var(--bg-secondary);
	font-family: var(--font-desira-demo);
	font-size: 3rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	@media (max-width: 600px) {
		font-size: 2rem;
	}
}
