.catalogueWrapper {
	margin-top: 120px;

	.catalogueContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 60px;
	}

	@media (max-width: 600px) {
		margin-top: 40px;
		.catalogueContainer {
			gap: 30px;
		}
	}
}
