:root {
	font-size: 62.5%;
	--bg-primary: #fff9f5;
	--bg-secondary: #ff1b5f;
	--text-primary: #282525;
	--text-secondary: #fff;
	--text-tertiary: #ff1b5f;
	--text-placeholder: #747474;
	--gradient-footer: linear-gradient(98deg, #452e23 6.33%, #301c13 94.03%);
	--gradient-subscribe: linear-gradient(90deg, #452e23 6.93%, #301c13 94.51%);
}

body {
	background-color: var(--bg-primary);
	font-family: var(--font-stolzl);
	scroll-behavior: smooth;
	min-height: 100vh;
	overflow-x: hidden;
	font-weight: 400;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

a,
a:visited {
	text-decoration: none;
	display: inline-block;
}

a:focus,
a:active,
a:hover {
	outline: none;
}

aside,
nav,
footer,
header,
main,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

img,
svg {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

input,
textarea,
button,
select _ {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

input::-ms-clear {
	display: none;
}

button,
input[type='submit'] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:active,
input:focus,
button:active,
button:focus {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}
